# Node modules
node_modules/
.pnp/
.pnp.js

# Vite cache and build output
dist/
.vite/
out/
*.local

# Storybook build
.storybook-static/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Misc
*.log
